<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="../css/page2.css"></link>
</head>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/about.html">About</a></li>
        <li class="active"><a href="/map.html">MA School Success</a></li>
      </ul>
    </div>
  </nav>
  
  <body>
  
  <section class="main-content">
        <div id="control_wrapper">
          <div id="buttons">
            <button type="button" class="btn-lg btn-success" id="success">MCAS Level</button>
            <button type="button" class="btn-lg btn-success" id="charter">Charter Status</button> 
            <!--<button type="button" class="btn-lg btn-success" id="math">Math Success</button>
            <button type="button" class="btn-lg btn-success" id="english">ELA Success</button>-->
            <button id="reset"  type="button" class="btn-lg btn-danger">Reset Map</button>
          </div>
          <div id="currentyear">
            <span>Year: </span></div>
          <div id="yearlabel">
            <span>2017</span>
          </div>
            <div id="sliderwrapper">
              <input type="range" min="2002" max="2017" value="2017" id="yearslider" step="1" list="yearsettings">
              <datalist id="volsettings">
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2017</option>
              </datalist>
            </div>
          <div id="searchwrapper">
            <div class="input-group">
              <input id="search_input" type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button id="search_button" class="btn btn-success" type="button" ><i class="fa fa-search fa-fw"></i> Search</button>
                  </span>
            </div>
          </div>
        </div>
        
        
        <div id="map_wrapper">
          <p id="chart">
              <div id="info">
                  <div id = "school_name"><span></span></div>
                  <div id = "level"><b>Level: </b><span></span> </div>
                  <div id = "town"><b>Town: </b><span></span> </div>
                  <div id = "charter_stat"><b>Charter Status: </b><span></span></div>
              </div>
              
          </p>
          <div id="mapdirections">
            <p>Click and drag to explore. Pinch to zoom.</p>
          </div>
        </div>
        <div id="graph_wrapper">
          <h4 id="neighbors_title">Nearest Neighbors Success Comparison</h4>
          <br>
          <svg class="graph"></svg>
          <p id="neighbors_explanation"></p>
        </div>
        <div id="chars_wrapper">
          <h4 id="chars_title">School Characteristics</h4>
          <br>
          <svg class="chars"></svg>
          <p id="footer"></h5>
        </div>
        
        <script type="text/javascript" src="../js/page2.js"></script>

      </section>

  </body>

</html>