<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data Viewer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The Path to School Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/page1.html">Data Viewer</a></li>
      <li><a href="/page2.html">Maps</a></li>
    </ul>
  </div>
</nav>

<button id="data_grabber" type="button" class="btn btn-primary btn-lg">Grab some data</button>
<p id="testing"></p>

</body>
</html>