#map-and-graph {
	height: 100vh;
	margin-top: 60px;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#introduction {
	padding-top: 50px;
	height: 100vh;
	width: 100vw;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #E0E0E0;
}

#introduction h3{
	text-align: center;
	color: #077958;
}

#introduction p{
	text-align: justify;
	font-size: 16px;
}

#control_panel {
	margin-bottom: 20px;
}

.form-group, .custom-select {
	width: 100px;
	float: left;
	margin-right: 10px;
}

#leftpane {
	border-right: solid;
	height: 100%;
}

#label_wrapper h5 {
	position: absolute;
	top: 15px;
	right: 85px;
}

#label_wrapper table {
	position: absolute;
	top: 45px;
	right: 10px;
	font-size: 12px;
	background-color: white;
}
#label_wrapper th {
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
}

#rightpane {
	height: 100%;
	padding: 20px;
}

.neighborhood {
	stroke-linejoin: miter;
	stroke: black;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  box-shadow: 5px 5px 2.5px grey;
}

.schoolToolTip table, th, td {
    padding-left: 3px;
	padding-right: 3px;
	width: auto;
}

.schoolToolTip th {
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
}

.schoolToolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: left;
  box-shadow: 10px 10px 5px #002332;
}
.schoolToolTip h4 {
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 18px;
	text-decoration: underline;
}
.schoolToolTip h6 {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}
.schoolToolTip p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}

.graphToolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: left;
  /*box-shadow: 10px 10px 5px #002332;*/
}

.school-paths {
        fill: none;
        stroke-width: 2px;
        stroke-dasharray:1000;
        stroke-dashoffset: 1000;
        animation: dash 10s linear infinite;
        animation-fill-mode: forwards;
    	animation-iteration-count: 1;
    }

@keyframes dash{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.divider-line {
	fill: none;
	stroke: red;
	stroke-width: 2px;
	stroke-dasharray: 10,2;
}

#key {
	border: solid;
	border-width: 0.5px;
	height: 40px;
	width: 95%;
	margin-left: 12px;
	margin-bottom: 15px;
	margin-top: 0px;
}

#key svg {
	height: 100%;
}

#scroll_button a {
  position: absolute;
  bottom: 20px;
  left: 56.45%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#scroll_button a:hover {
  opacity: .5;
}

#scroll_button a {
  padding-top: 60px;
}

#scroll_button a span {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1.5px solid black;
  border-bottom: 1.5px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
}

