#main-content {
	margin-top: 70px;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#control_panel {
	margin-bottom: 20px;
}

.form-group, .custom-select {
	width: 100px;
	float: left;
	margin-right: 10px;
}

#leftpane {
	border-right: solid;
	height: 100%;
}

#label_wrapper h5 {
	position: absolute;
	top: 15px;
	right: 85px;
}

#label_wrapper table {
	position: absolute;
	top: 45px;
	right: 10px;
	font-size: 12px;
}
#label_wrapper th {
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
}

#rightpane {
	height: 100%;
	padding: 20px;
}

.neighborhood {
	stroke-linejoin: miter;
	stroke: black;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
  box-shadow: 5px 5px 2.5px grey;
}

.schoolToolTip table, th, td {
    padding-left: 3px;
	padding-right: 3px;
	width: auto;
}

.schoolToolTip th {
	border-bottom: 1px dotted black;
	border-top: 1px dotted black;
}

.schoolToolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: left;
  box-shadow: 10px 10px 5px #002332;
}
.schoolToolTip h4 {
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 18px;
	text-decoration: underline;
}
.schoolToolTip h6 {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 5px;
}
.schoolToolTip p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}

.graphToolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: left;
  /*box-shadow: 10px 10px 5px #002332;*/
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.divider-line {
	fill: none;
	stroke: red;
	stroke-width: 2px;
	stroke-dasharray: 10,2;
}

#key {
	border: solid;
	border-width: 0.5px;
	height: 40px;
	width: 95%;
	margin-left: 12px;
	margin-bottom: 15px;
	margin-top: 0px;
}

#key svg {
	height: 100%;
}

