#main-content {
	margin-top: 20px;
	padding: 0;
}

#control_panel {
	margin-bottom: 10px;
}

#leftpane {
	border: solid;
	height: 100%;
}

#rightpane {

}

#label_wrapper h3{
	float: left;
}

#label_wrapper div{
	height: 40px;
	margin-top: 20px;
	float:right;
	align-content: right
}

#rightpane {
	border-top: solid;
	border-right: solid;
	border-bottom: solid;
	height: 100%;
	padding: 20px;
}

.neighborhoods {
	stroke-linejoin: miter;
	stroke: black;
}

.neighborhoods:hover {
	fill: blue;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#key {
	border: solid;
	border-width: 0.5px;
	height: 40px;
	width: 95%;
	margin-left: 12px;
	margin-bottom: 15px;
	margin-top: 0px;
}

